*{
   
    margin: 10px;
    font-family: "Poppins";
    
}

body {
    background-color: #1b1b1b;
	overflow-x: hidden;
}

/* nav bar */
nav{
display: flex;
color: white;
justify-content: space-around;
align-items: center;

}
nav ul{
    display: flex;
    list-style: none;
    gap: 10px;
    align-items: center;
    font-family: sans-serif;
    
}
nav ul li:hover{

    color: gray;
}


nav .contact{
    display: flex;
    align-items: center;  
    font-family: sans-serif;
    background-color: none;
    
}

nav .contact :nth-child(3){
position: relative;
right: 50px;

}

/* simply text */

.hero-container .text{
    color: white;
    font-size: 64px;
    font-family: sans-serif;
    margin-left: 90px;
    margin-top: 68px;
    width: 800px;
 
}


.hero-container .desc span{
    color: rgb(236, 88, 201);
    font-weight: 550;
    font-size: 40px;
}
/* cards */

.hero-container .frontcards{
    z-index: 1;
    position: absolute;
    top: 80px;
    left: 730px;
}
.hero-container .backcards{
    
    z-index: -1;
    position: absolute;
    top: 40px;
    left: 580px;
}
.started img{
width: 75px;
height: 30px;
position: relative;
top: 5px;
left: 20px;
}

.started{
    display: flex;
    font-size: 24px;
    color: white;
    font-family: "poppins";
    margin-left: 70px;
    margin-top: 80px;
}

.started .arrow{

    position: relative;
    bottom: 10px;
    right: 55px;
}

.started p{
position: relative;
right: 50px;
}
.started .desc span{
    position: relative;
right: 80px;
bottom: 25px;
}


.desc_1{
display: flex;
color: white;
font-size: 25px;
font-family: "poppins";
margin-left: 90px;


} 
.desc_1 p:first-child, .desc_1 span{
    font-size: 40px;
   position: relative;
   left: 5px;
}
 .desc_1 :nth-child(3){
    font-size: 15px;
    position: relative;
    top: 8px;
 }
 .desc{
    display: flex;
 }
.desc_2{
position: relative;
right: 80px;
bottom: 10px;
}

.logo{
    display: flex;
    justify-content: center;
    column-gap: 60px;
    padding: 50px;
margin-top: 150px;
background-color: rgb(57, 57, 57);
}

.hero-description {
    margin-top: 50px;
    margin-left: 30px;
display: flex;
justify-content: space-evenly;
gap: 200px;
color:white;
font-family: "poppins";

}

.hero-description .left-content{

    font-size: 50px;
  width: 480px;

}
.hero-description span{
    color:  rgb(236, 88, 201); ;
}

.hero-description .right-content{

    width: 390px;
    color: gray;
    position: relative;
 right: 150px;
 top: 45px;
 font-size: 17px;
}

.contents{
    display: flex;
    justify-content: space-around;
    margin-left: 40px;
    margin-top: 80px;
}

/* 
items */

.items{

    background-color: rgb(98, 96, 96);
    padding: 30px 90px;
    align-items: center;
    color: white;
    font-family: "Poppins";
    border: 2px solid  white;
}

.items p{
font-size: 18px;
text-align: center;
}



.contents .items:hover{

    
    position: relative;
    bottom: 40px;
    transition: all ;  
    transition: ease 5s;

}
.contents1{
  background-color: whitesmoke;
    height: 800px;
    
    position: relative;
    top: 60px;
}
.contents1 .txt{
    text-align: center;
    font-size: 50px;
    position: relative;
    top: 30px;
    justify-content: center;
    align-items: center;
} 

.contents1 .txt span{

    color: rgb(236, 88, 201);
    font-weight: 550;
    font-size: 55px;
}
.contents1 img{

   position: relative;
   left: 260px;
   bottom: 20px;
   
   
}
.contents1 p{
    width: 600px;
    position: relative;
    left: 430px;
    top: 60px;
    z-index: 1;

}


.contents2{
    background-color: #1b1b1b
      height: 1200px;
      position: relative;
      top: 60px;
  }
  .contents2 .txt{
    color: white;
      text-align: center;
      font-size: 50px;
      position: relative;
      top: 40px;
      justify-content: center;
      align-items: center;
  } 
  
  .contents2 .txt span{
  
      color: rgb(236, 88, 201);
      font-weight: 550;
      font-size: 55px;
  }
  .contents2 .txt2{
    font-size: 20px;
    color: rgb(202, 200, 200);
    width: 680px;
    text-align: center;
    position: relative;
    left: 350px;
    top: 60px;
}
.contents2 .box{
    
    color: white;
     background-color: rgb(44, 42, 42);
     border: 2px solid white;
     width: 450px;
     height: 240px;
     position: relative;
     left:150px;
     top: 100px;
}




.contents2 .box{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px 20px;

}
.contents2 .box img{

    position: relative;
    right: 120px;
}

.box-row-1,.box-row-2{

display: flex;
gap: 58px;

}

.contents2 .box:hover{
   background-color: rgb(90, 88, 88);
    transition: all;
    scale: 0.9;
    transition: ease-out 0.4s;
}

.footer{
height: 800px;
}

.footer{
    margin-top: 100px;
    background-color: #1b1b1b;
        padding-top: 170px;
        height: 600px;
    }
   
    .pink-top {
        position: relative;
        right:32px ;
        bottom: 45px;
       
    }
    
    .pink-bottom{
        position: relative;
        right: 32px;
        bottom:820px;
        
    }

    .diamond-left{

        position: relative;
        left: 90px;
        bottom:1400px;

    }

    .diamond-right{
     
        position: relative;
        left: 650px;
        bottom:2010px;

    }

    .footer .txt3{
   color: white;
   font-size: 58px;
   font-weight: 500;
   z-index: 2;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   bottom: 500px;
   text-align: center;
    }

    .footer span{

        color:#1b1b1b;
    }

    .startt {

        font-size: 28px;
        color: white;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 250px;

    }

    .footer .arrow{


    }
     .startt .btnn {
        position: relative;
        left: 55px;
        top: 7px;
        z-index: -2;

     }
     .startt .arrow{

        position: relative;
        top: 10px;
     }
     footer{
        display: flex;
        gap: 250px;
        position: relative;
        bottom: 100px;
     }
     footer ul{
        gap: 10px;
        color: white;
       display: flex;
        list-style: none;
     }

     footer ul li:hover{
    color: gray;
     }

     