*{

    margin: 6px 30px;
}

/* Nav Bar */

nav {
    display: flex;
    flex-direction: row;
}

nav img{
  
    width: 85px;
    height: 28px;
}

nav ul{

    display: flex;
    list-style: none;
    font-family:"Poppins";
}
.logo{
position: relative;
left: 52px;
margin-top: 10px;
}

ul li{
    color: rgb(0, 0, 0);
    font-family:"Poppins";
    font-weight: 500;
    font-size: 14px ;
}


/* Left Section */
.left h1{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 width: 300px;
font-size: 50px;
position: absolute;
top:42%;
left: 9.5%;
}
.left p{
    color: rgb(75, 75, 75);
    position: absolute;
    top:60%;
    left: 11.5%;
    font-family:"Poppins";
    font-size: 12px;
    margin: 10px 0;
}
button{

padding: 10px 22px;
font-weight: 500;
border: none;
background-color: rgb(73, 142, 73);
border-radius: 8px;
color: white;
font-family:"Poppins";

position: absolute;
bottom: 180px;
left: 9.5%;

}

/* Right Section */

.right div{
display: grid;
grid-template-columns: 225px 2px;
}
.right div{
    position: relative;
    left: 550px;
    top: 84px;
}
.right .upper{

width: 210px;

}
.right .lower{
width: 450px;

}

.right .up :first-child{

position: relative;
top: 24px;

}
/* Hover */
button:hover{
background-color: green;

}

